#map { 
	height: 600px; 
	width: 100%;
}

.page {
	padding-top: 50px;
}

.dream-feed {
	position: absolute;
	top: 100px;
	right: 50px;
	width: 200px;
	height: 400px;
	background: white;
	color: #4a4a4a;
	padding: $base-padding;
}