.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.landing-wrapper{
    position:absolute; color:white; font-family:helvetica; font-weight:100;
}

.navbar-default{
    border-color: transparent;
    border-width:0px;
}

.not-landing .navbar-default{
    background-color: transparent;

}
// .navbar-default {
    //     .navbar-nav > li > a {
	//         color: #cecece;
	//         &:hover{
	    //             color:white;
	    //         }
	//     }
    //     .navbar-brand{
	//         color: #cecece;
	//         &:hover{
	    //             color:white;
	    //         }
	//     }
    //     .navbar-text{
	//         cursor: pointer;
	//         color: #cecece;
	//         &:hover{
	    //             color:white;
	    //         }
	//     }
    // }

span.nav-text:hover, .navbar-brand:hover {
			 text-decoration:underline;
		     }

span.nav-text, .navbar-text, .navbar-brand, a.logout {
    color:#f0d5c0 !important;
}

span.nav-text:active {
    color: black;
}

.mainText {
    color: #f0d5c0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-image: url("http://cognatory.com:9000/assets/images/spacebg23.jpg") !important;
    /* background-image: url("http://cognatory.com:9000/assets/images/stars2.jpg"); */
    background-size: cover;
}

.navbar {
    background-color: rgba(0,0,0,1) !important;
}

.navbar {
    border-style: solid;
    border-color: #f0d5c0 !important;
    border-width: 2px;
}

* {
    background-color: rgba(0, 0, 0, 0.0) !important;
    opacity: 1 !important;
    font-size: 18px !important;
}

.clickable, blockquote, p, .btn, td, label, th, input, * {
    color:  #f0d5c0;
}

.clickable:hover {
    text-decoration: underline;
}

.page {
    background-color: rgba(255, 255, 255, 1.0);
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    width: 100%;
    height: 100%;
}

.input-group {
    width: 50%;
}