<div ng-include="'components/navbar/navbar.html'"></div>


<div ng-if="!voted" ng-repeat="randomDream in randomDreams">
	<div class="col-xs-4 col-xs-offset-1 container">
		<p>What are your dreams for the future?<p>
		<blockquote>{{randomDream.future}}</blockquote>
		<p>How can we make a better world?<p>
		<blockquote>{{randomDream.world}}</blockquote>
		<button class="btn btn-primary" ng-click="voteThisDream(randomDream)">Vote for this Dream</button>
		<button class="btn btn-default" ng-click="flagDream(randomDream)">Flag this Dream</button>
	</div>
		
	
	
</div>
<div ng-if="voted">You voted!</div>